{% extends "CartBundle::layout.html.twig" %}

{% block title %}
    Ma commande - {{ parent() }}
{% endblock %}

{% block body %}
    <h4 class="page-header">Commande pour {{ orderHeader.user.firstname }} {{ orderHeader.user.lastname }} ({{ orderHeader.user.location }})</h4>
    <p>
        {% if orderHeader.canceled %}
            <span class="order-canceled-intro">Cette commande  a été annulée.</span>
        {% elseif orderHeader.printed or orderHeader.payed %}
            Status de la commande :<br/>
            {% if orderHeader.printed %}
                -> La commande est en cours d'impression ou est déjà imprimée.<br/>
            {% endif %}
            {% if orderHeader.payed %}
                -> La commande est payée.<br/>
            {% endif %}
        {% else %}
            Status de la commande :<br/>
            -> La commande est en attente de traitement.<br/>
        {% endif %}
    </p>
    {% if not (orderHeader.payed and orderHeader.printed) %}
        <div class="bottom-block">
            <div class="bottom-block-right">
                {% if not orderHeader.canceled %}
                    <a href="{{ path('admin_order_cancel', {'id': orderHeader.id}) }}"><button type="button" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i> Annuler la commande</button></a>
                {% else %}
                    <button type="button" class="btn btn-danger disabled"><i class="glyphicon glyphicon-remove"></i> Commande annulée</button>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <h5 class="page-header">Detail des impressions</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Format</th>
                <th>Image</th>
                <th class="table-detail">Quantity</th>
                <th class="table-detail">Imprimer</th>
            </tr>
        </thead>
        <tbody>
            {% set quantityTotal = 0 %}
            {% set NbImages = 0 %}
            {% set PrintCommands = "" %}
            {% for format in orderDetails %}
                {% set quantityFormat = 0 %}
                <tr>
                    <th rowspan="{{ format.orderQuantities | length + 1 }}">{{ format.size }}</th>
                        {% for quantity in format.orderQuantities %}
                            {% set quantityFormat = quantityFormat + quantity.quantity %}
                            {% if not loop.first %}
                        <tr>
                        {% endif %}
                        <td>
                            <a href="{{ vich_uploader_asset(quantity.detail.photo, 'imageFile') }}" data-lightbox="gallery" data-title="Photo {{ quantity.detail.photo.title }}, Taille {{ quantity.detail.photo.imageWidth }}x{{ quantity.detail.photo.imageHeight }}">
                                <img class="img-responsive img-thumbnail cart-img" src="{{ vich_uploader_asset(quantity.detail.photo, 'imageFile') | imagine_filter('gallery_thumb') }}"/>
                            </a>
                            {{ quantity.detail.photo.title }}
                        </td>
                        <td class="table-detail">
                            {{ quantity.quantity }}
                        </td>
                        <td class="table-detail">
                            {%  if format.print is not empty %}
                                {% if (quantity.detail.photo.imageWidth == quantity.detail.photo.imageHeight) and (format.printSquare is not empty) %}
                                    {% set PrintCommand = format.printSquare | replace({'{quantity}': quantity.quantity, '{file}': vich_uploader_asset(quantity.detail.photo, 'imageFile') }) %}
                                {% else %}
                                    {% set PrintCommand = format.print | replace({'{quantity}': quantity.quantity, '{file}': vich_uploader_asset(quantity.detail.photo, 'imageFile') }) %}
                                {% endif %}
                                {% if PrintCommands is not empty %}
                                    {% set PrintCommands = PrintCommands ~ "<br>" ~ PrintCommand%}
                               {%  else %}
                                    {% set PrintCommands = PrintCommands ~ PrintCommand %}
                                {% endif %}
                                <a href="">
                                    <button class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="{{ PrintCommand }}"><li class="glyphicon glyphicon-print"></li> x1</button>
                                </a>
                            {% endif %}
                        </td>
                        {% if not loop.last %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tr>
                <tr>
                    <th>
                        {{ format.orderQuantities | length }} images
                        {% set NbImages = NbImages + format.orderQuantities | length %}
                    </th>
                    <th class="table-detail">
                        {{ quantityFormat }}
                        {% set quantityTotal = quantityTotal + quantityFormat %}
                    </th>
                    <td></td>
                <tr>
                {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>
                    Total
                </th>
                <th>
                    {{ NbImages }} images
                </th>
                <th class="table-detail">
                    {{ quantityTotal }}
                </th>
                <td class="table-detail" data-toggle="modal" data-target="#print-all">
                    {% if PrintCommands is not empty %}
                        <button class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top" title="Imprimer toutes les photos"><li class="glyphicon glyphicon-print"></li> tout</button>
                    {% endif %}
                </td>
            </tr>
        </tfoot>
    </table>
    {% if not orderHeader.canceled %}
        <div class="bottom-block">
            <div class="bottom-block-right">
                {% if not orderHeader.printed %}
                    <a href="{{ path('admin_order_printed', {'id': orderHeader.id}) }}"><button type="button" class="btn btn-default"><i class="glyphicon glyphicon-print"></i> Confirmer l'impression</button></a>
                        {% else %}
                    <button type="button" class="btn btn-success disabled"><i class="glyphicon glyphicon-print"></i> Impression confirmée</button>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <h5 class="page-header">Detail de la commande</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th class="table-detail">Montant</th>
            </tr>
        </thead>
        <tbody>
            <tr class="info">
                <td>Total</td>
                <td class="table-detail">{{ orderHeader.quantity }}</td>
                <td class="table-detail">{{ orderHeader.grossTotal | number_format(2, ",", " ")  }}€</td>
            </tr>
            {% if orderHeader.discountValue > 0 %}
                <tr class="warning">
                    <td>Remise (€)</td>
                    <td class="table-detail">{{ orderHeader.discountValue }}%</td>
                    <td class="table-detail">-{{ orderHeader.discountSaving | number_format(2, ",", " ") }}€</td>
                </tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr class="success">
                <th colspan="2">A payer</th>
                <th class="table-detail">{{ orderHeader.total | number_format(2, ",", " ") }}€</th>
            </tr>
        </tfoot>
    </table>
    {% if not orderHeader.canceled %}
        <div class="bottom-block">
            <div class="bottom-block-right">
                {% if not orderHeader.payed %}
                    <a href="{{ path('admin_order_payed', {'id': orderHeader.id}) }}"><button type="button" class="btn btn-default"><i class="glyphicon glyphicon-eur"></i> Confirmer le paiement</button></a>
                {% else %}
                    <button type="button" class="btn btn-success disabled"><i class="glyphicon glyphicon-eur"></i> Paiement confirmée</button>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if orderHeader.quantity != quantityTotal %}
        <script type="text/javascript">
            $(function () {
                alert('Il y a une erreur entre la quantité enregistrée à la commande ({{orderHeader.quantity}} photos) et maintenant ({{quantityTotal}} photos). Cela peut être dû à un changement de tarification, de format, ou à la suppression d\'une photo.');
            });
        </script>
    {% endif %}
    <div class="modal fade" id="print-all" tabindex="-1" role="dialog" aria-labelledby="Print all pictures" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirmation d'impression</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Confirmez vous l'impression de toutes les photos ? Les commandes suivantes seront exécutées :
                    </p>
                    <pre>{{ PrintCommands | raw }}</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/resources/lightbox/js/lightbox.min.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="/resources/lightbox/css/lightbox.min.css" rel="stylesheet">
{% endblock %}
