{% extends "UserBundle::layout.html.twig" %}

{% block title %}
    {{ 'Ma sélection' | trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h4 class="page-header">{{ 'Ma sélection' | trans }}</h4>
    {% if userCarts.carts is not empty %}
        <p>
            &nbsp;
        </p>
        {% for cart in userCarts.carts %}
            <div class="row well">
                <div class="col-sm-5 cart-header">
                    <img class="img-responsive img-thumbnail cart-img" src="{{ vich_uploader_asset(cart.photo, 'imageFile') | imagine_filter('gallery_thumb') }}"/>
                    {{ cart.photo.title }}
                    <div style="float: right;"><a href="{{ path('cart_delete', { 'id': cart.photo.id }) }}"><button class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></button></a></div>
                </div>
                <div class="col-sm-7">
                    {% if formats is not empty %}
                        {% for format in formats %}
                            {% set currentQuantity = 0 %}
                            {% if attribute(cartFormat, cart.id) is defined %}
                                {% if attribute(attribute(cartFormat, cart.id), format.id) is defined %}
                                    {% set currentQuantity = attribute(attribute(cartFormat, cart.id), format.id) %}
                                {% endif %}
                            {% endif %}
                            <div class="form-group form-inline text-center">
                                <label for="{{ cart.photo.id }}-{{ format.id }}" class="control-label">Format {{ format.size }} : </label>
                                <div class="input-group">
                                    <span class="input-group-addon btn btn-primary" cart-quantity-minus="{{ cart.photo.id }}-{{ format.id }}"><i class="glyphicon glyphicon-minus"></i></span>
                                    <input type="number" min="0" class="form-control" cart-photo="{{ cart.photo.id }}" cart-format="{{ format.id }}" value="{{ currentQuantity }}" id="{{ cart.photo.id }}-{{ format.id }}">
                                    <span class="input-group-addon btn btn-primary" cart-quantity-plus="{{ cart.photo.id }}-{{ format.id }}"><i class="glyphicon glyphicon-plus"></i></span>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>
                            {{ 'Aucun format d\'impression n\'a été définit.' | trans }}
                        <p>
                        {% endif %}
                </div>
            </div>
        {% endfor %}
        <hr>
        <div class="row bottom-block">
            <div class="col-lg-12">
                <div class="bottom-block-left">
                    <h4>Total: <span cart-total>{{ total.overall.total | number_format(2, ',', ' ') }}</span>€</h4>
                </div>
                <div class="bottom-block-right">
                    <a href="{{ path('cart_delete_all') }}"><button type="button" class="btn btn-warning bottom-button"><i class="glyphicon glyphicon-trash"></i> {{ 'Vider ma sélection' | trans }}</button></a>
                    <a href="{{ path('checkout') }}"><button type="button" class="btn btn-success bottom-button"><i class="glyphicon glyphicon-print"></i> {{ 'Demander l\'impression' | trans }}</button></a>
                </div>
            </div>
        </div>
    {% else %}
        <p>
            &nbsp;
        </p>
        <p>
            {% trans %}Votre panier sélection est vide. Rendez-vous dans la{% endtrans %} <a href="{{ path('home') }}">{{ 'Galerie photos' | trans }}</a> {% trans %}pour composer votre panier.{% endtrans %}
        </p>
    {% endif %}
    {{ render(controller('UserBundle:Discount:bottomBar')) }}
{% endblock %}

{% block javascripts %}
    {% if userCarts.carts is not empty %}
        <script type="text/javascript">
            $('[cart-quantity-minus]').click(function () {
                var quantityInput = $('#' + $(this).attr('cart-quantity-minus'));
                updateQuantity(quantityInput, -1);
            });

            $('[cart-quantity-plus]').click(function () {
                var quantityInput = $('#' + $(this).attr('cart-quantity-plus'));
                updateQuantity(quantityInput, +1);
            });

            $('input[cart-photo][cart-format]').change(function () {
                var quantityInput = $(this);
                updateQuantity(quantityInput, 0);
            });

            function updateQuantity(quantityInput, increment)
            {
                var quantityValue = quantityInput.val();

                if ($.isNumeric(quantityValue) && (Math.ceil(quantityValue) + increment) > 0)
                    quantityValue = Math.ceil(quantityValue) + increment;
                else
                    quantityValue = 0;

                $.get('{{ path('cart_update_empty_link') }}' + quantityInput.attr('cart-photo') + "/" + quantityInput.attr('cart-format') + "/" + quantityValue, function (data) {
                    quantityInput.val(data['quantity']);
                    $('[cart-total]').text(data['total'].toFixed(2));
                });
            }
        </script>
    {% endif %}
{% endblock %}
