{{ form_start(form) }}

<div class="row">
    <div class="col-lg-12">
        {{ form_errors(form) }}
    </div>
</div>
<h2>Apparence</h2>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            {{ form_label(form.applicationTheme, "Thème de la galerie") }}
            {{ form_errors(form.applicationTheme) }}
            {{ form_widget(form.applicationTheme, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="text-center"><img id="theme-preview" class="hide" src="#" height="300px"></div>
        <div class="form-group">
            {{ form_label(form.gallerySingleGallery, "Présentation des galeries une par une") }}
            {{ form_errors(form.gallerySingleGallery) }}
            {{ form_widget(form.gallerySingleGallery, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.galleryQuickLink, "Ajout du menu déroulant en haut pour un accès rapide aux galeries") }}
            {{ form_errors(form.galleryQuickLink) }}
            {{ form_widget(form.galleryQuickLink, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>
<h2>Comportement</h2>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            {{ form_label(form.galleryAnonymousAccess, "Autoriser les anonymes à accéder à la galerie photos et aux tarifs") }}
            {{ form_errors(form.galleryAnonymousAccess) }}
            {{ form_widget(form.galleryAnonymousAccess, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>
<h2>Emails</h2>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            {{ form_label(form.applicationSellFiles, "Activer la vente des originaux") }}
            {{ form_errors(form.applicationSellFiles) }}
            {{ form_widget(form.applicationSellFiles, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.applicationSellFilesAllowDownload, "Autoriser le téléchargement des fichiers depuis les commandes utilisateurs payées") }}
            {{ form_errors(form.applicationSellFilesAllowDownload) }}
            {{ form_widget(form.applicationSellFilesAllowDownload, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.applicationSellFilesForceDownload, "Forcer le téléchargement des fichiers depuis les commandes utilisateurs") }}
            {{ form_errors(form.applicationSellFilesForceDownload) }}
            {{ form_widget(form.applicationSellFilesForceDownload, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            {{ form_label(form.applicationSellFilesEmailSender, "Email de l'expéditeur des emails") }}
            {{ form_errors(form.applicationSellFilesEmailSender) }}
            {{ form_widget(form.applicationSellFilesEmailSender, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.applicationSellFilesEmailSenderInCc, "Mettre l'expéditeur en copie des emails") }}
            {{ form_errors(form.applicationSellFilesEmailSenderInCc) }}
            {{ form_widget(form.applicationSellFilesEmailSenderInCc, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            {{ form_label(form.applicationSellFilesEmailSubject, "Sujet des emails contenant les originaux") }}
            {{ form_errors(form.applicationSellFilesEmailSubject) }}
            {{ form_widget(form.applicationSellFilesEmailSubject, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.applicationSellFilesEmailBody, "Message à joindre aux emails lors de l'envoi des originaux") }}
            {{ form_errors(form.applicationSellFilesEmailBody) }}
            {{ form_widget(form.applicationSellFilesEmailBody, {'attr': {'class': 'form-control tinymce'}}) }}
        </div>
    </div>
</div>
<h2>Autres options</h2>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            {{ form_label(form.applicationIntroMessage, "Message d'introduction à la galerie") }}
            {{ form_errors(form.applicationIntroMessage) }}
            {{ form_widget(form.applicationIntroMessage, {'attr': {'class': 'form-control tinymce'}}) }}
        </div>
    </div>
</div>

{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary bottom-button'}, 'label': 'Sauvegarder'}) }}
{{ form_rest(form) }}
{{ form_end(form) }}

{{ tinymce_init() }}
