{% extends "UserBundle::layout.html.twig" %}

{% block title %}
    {{ 'Mon profil' | trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h4 class="page-header">{{ 'Mon profil' | trans }}</h4>
    <p>
        &nbsp;
    </p>
    <p>
        <b>{{ 'Prénom :' | trans }} </b>{{user.firstname}}<br/>
        <b>{{ 'Nom :' | trans }} </b>{{user.lastname}}<br/>
        <b>{{ 'Email :' | trans }} </b>{{user.email}}<br/>
        {% if user.location is not empty %}
            <b>{{ 'Localisation :' | trans }} </b>{{user.location}}<br/>
        {% endif %}
    </p>
    <hr>
    <p>
        <a href="{{ path('user_edit') }}" class="btn btn-warning">
            <i class="glyphicon glyphicon-pencil"></i>
            &nbsp;{{ 'Editer' | trans }}
        </a>
    </p>
{% endblock %}
