{% extends "GalleryBundle::layout.html.twig" %}

{% block title %}
    Galerie - {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="page-header">{{ gallery.title }} ({{ gallery.date | date('d-m-Y') }}) - {{ gallery.photos | length }} photos</h1>
    <p>
        &nbsp;
        {{ gallery.detail | raw }}
    </p>
    <p>&nbsp;</p>
    <div id="gallery" style="display:none;">
        {% if not gallery.photos is empty %}
            {% for photo in gallery.photos %}
                <a href="http://unitegallery.net">
                    <img alt="{{ photo.title }}"
                         src="{{ vich_uploader_asset(photo, 'imageFile') }}"
                         data-image="{{ vich_uploader_asset(photo, 'imageFile') }}"
                         data-description="{{ photo.title }}"
                         style="display:none">
                </a>
            {% endfor %}
        {% endif %}
    </div>
    <hr>
    <div>
        <div class="bottom-block-left">
            <a href="{{ path('photo_loader', { 'id': gallery.id }) }}"><button type="button" class="btn btn-success btn-xs bottom-button"><i class="glyphicon glyphicon glyphicon-plus"></i> Ajouter des photos</button></a>
            <a href="{{ path('photo_clear', { 'id': gallery.id }) }}"><button type="button" class="btn btn-danger btn-xs bottom-button"><i class="glyphicon glyphicon glyphicon-trash"></i> Supprimer toutes les photos</button></a>
        </div>
        <div class="bottom-block-right">
            {% if gallery.active %}
                <a href="{{ path('gallery_toggle', { 'id': gallery.id }) }}"><button type="button" class="btn btn-success btn-xs bottom-button"><i class="glyphicon glyphicon-eye-open"></i> Desactiver</button></a>
            {% else %}
                <a href="{{ path('gallery_toggle', { 'id': gallery.id }) }}"><button type="button" class="btn btn-default btn-xs bottom-button"><i class="glyphicon glyphicon-eye-close"></i> Activer</button></a>
            {% endif %}
            <a href="{{ path('gallery_edit', { 'id': gallery.id }) }}"><button type="button" class="btn btn-warning btn-xs bottom-button"><i class="glyphicon glyphicon-edit"></i> Editer la galerie</button></a>
            <a href="{{ path('gallery_delete', { 'id': gallery.id }) }}"><button type="button" class="btn btn-danger btn-xs bottom-button"><i class="glyphicon glyphicon-remove"></i> Supprimer la gallerie</button></a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/web/resources/unitegallery/css/unite-gallery.css" type="text/css">
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="/web/resources/salvattore/salvattore.min.js"></script>
    <script type="text/javascript" src="/web/resources/unitegallery/js/unitegallery.min.js"></script>
    <script type="text/javascript" src="/web/resources/unitegallery/themes/tiles/ug-theme-tiles.js"></script>
    <script type="text/javascript">

        jQuery(document).ready(function () {

            jQuery("#gallery").unitegallery({
                tiles_type: "justified",
                tile_enable_textpanel: true,
                tile_textpanel_always_on: true,
                tile_show_link_icon: true,
                tile_link_newpage: false,
            });

        });

    </script>
{% endblock %}
