{% trans_default_domain 'FOSUserBundle' %}

<h4 class="page-header">{{ 'Changer mon mot de passe' | trans }}</h4>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
<fieldset>
    <div class="form-group">
        {{ form_label(form.current_password, 'form.current_password' | trans) }}
        {{ form_errors(form.current_password) }}
        {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.current_password, 'form.new_password' | trans) }}
        {{ form_errors(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.current_password, 'form.new_password_confirmation' | trans) }}
        {{ form_errors(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control' }}) }}
    </div>
    <input type="submit" class="btn btn-success" value="{{ 'change_password.submit'|trans }}" />
</fieldset>
{{ form_rest(form) }}
{{ form_end(form) }}
