{{ form_start(form) }}

<div class="row">
    <div class="col-lg-12">
        {{ form_errors(form) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            {{ form_label(form.size, "Format") }}
            {{ form_errors(form.size) }}
            {{ form_widget(form.size, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            {{ form_label(form.print, "Commande d'impression (sans adaptation au format papier)") }}
            {{ form_errors(form.print) }}
            {{ form_widget(form.print, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            {{ form_label(form.printCrop, "Commande d'impression (avec adaptation au format papier)") }}
            {{ form_errors(form.printCrop) }}
            {{ form_widget(form.printCrop, {'attr': {'class': 'form-control'}}) }}
        </div>
        <p>
            Laisser vide si non applicable.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            {{ form_label(form.printSquare, "Commande d'impression (si photo carrée)") }}
            {{ form_errors(form.printSquare) }}
            {{ form_widget(form.printSquare, {'attr': {'class': 'form-control'}}) }}
        </div>
        <p>
            Laisser vide si non applicable.
        </p>
    </div>
</div>

{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary bottom-button'}, 'label': 'Sauvegarder'}) }}
{{ form_rest(form) }}
{{ form_end(form) }}

<hr>

<h2 class="page-header">Complément d'information</h2>

<div class="row">
    <div class="col-lg-12">
        <p>
            Vous pouvez renseigner les champs <u><i>Commande d'impression</i></u> avec la ligne de commande permettant
            de lancer l'impression en CLI. Les champs {quantity} et {file} seront remplacés par la quantité et le chemin
            absolu de l'image chargée initialement.
        </p>
        <p>
            Ci-dessous un exemple de ligne de commande pour un lancement d'impresion depuis UNIX (Linux/Mac):
        </p>
        <pre>/usr/bin/lp -d Dai_Nippon_Printing_DP_DS620 -o PageSize=dnp4x6 -o Finish=Glossy -n {quantity} {file}</pre>
        <p>
            L'option ci-dessous permet d'adapter la taille de l'image pour remplir le papier (sans déformation).
            Utilisez cette option pour la ligne de commande <u><i>avec adaptation au format papier</i></u>
            (cette option peut ne pas fonctionner avec certaines imprimantes).
        </p>
        <pre>-o fit-to-page</pre>
        <p>
            Dans tous les cas, l'impression <u><i>si photo carrée</i></u> sera prioritaire si la condition est remplie
            et que la ligne de commande est renseignée.
        </p>
        <p>
            Ci-dessous, la liste des imprimantes détectées par le système. Cliquez sur le bouton pour obtenir la liste des
            options disponibles.
        </p>
        {% if printersDetails is iterable %}
            <p>
                {% for printerDetail in printersDetails %}
                    <button class="btn btn-default" data-toggle="modal" data-target="#printer-{{ loop.index }}">{{ printerDetail.name }}</button>
                {% endfor %}
            </p>
        {% else %}
            <p class="bg-danger">
                {{ printersDetails }}
            </p>
        {%  endif %}
    </div>
</div>

{% if printersDetails is iterable %}
    {% for printerDetail in printersDetails %}
        <div id="printer-{{ loop.index }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ printerDetail.name }}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{ printerDetail.details | raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{%  endif %}
