{% extends "UserBundle::layout.html.twig" %}

{% block title %}
    {{ 'Mes commandes' | trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h4 class="page-header">{{ 'Mes commandes' | trans }}</h4>
    {% if not orders is empty %}
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="table-detail">{{ 'Heure' | trans }}</th>
                            <th class="table-detail">{{ 'Montant' | trans }}</th>
                            <th class="table-detail">{{ 'Statut' | trans }}</th>
                            <th class="table-detail">{{ 'Détail' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr{% if order.canceled %} class="order-canceled"{% endif %}>
                                <td style="vertical-align: middle;">
                                    {{ order.id}}
                                </td>
                                <td style="vertical-align: middle;" class="table-detail">
                                    {{ order.created | date('H:i') }}
                                </td>
                                <td style="vertical-align: middle;" class="table-detail">
                                    {{ order.total | number_format(2, ',', ' ')}}€
                                </td>
                                <td style="vertical-align: middle; white-space: nowrap;" class="table-detail">
                                    {% if order.canceled == true %}
                                        <button type="button" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="{{ 'Commande annulée' | trans }}"><i class="glyphicon glyphicon-remove"></i></button>
                                        {% else %}
                                            {% if order.payed == true %}
                                            <button type="button" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" title="{{ 'Commande payée' | trans }}"><i class="glyphicon glyphicon-eur"></i></button>
                                            {% else %}
                                            <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="{{ 'Commande non payée' | trans }}"><i class="glyphicon glyphicon-eur"></i></button>
                                            {% endif %}
                                            {% if order.printed == true %}
                                            <button type="button" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" title="{{ 'Commande imprimée' | trans }}"><i class="glyphicon glyphicon-print"></i></button>
                                            {% else %}
                                            <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="{{ 'Commande non imprimée' | trans }}"><i class="glyphicon glyphicon-print"></i></button>
                                            {% endif %}
                                        {% endif %}
                                </td>
                                <td style="vertical-align: middle; white-space: nowrap;" class="table-detail">
                                    <a href="{{ path('order_view', { 'id': order.id }) }}"><button type="button" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="{{ 'Détail de la commande' | trans }}"><i class="glyphicon glyphicon-list"></i></button></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <p>
            &nbsp;
        </p>
        <p>
            {% trans %}Vous n'avez pas de demandes d'impressions. Rendez-vous dans la{% endtrans %} <a href="{{ path('home') }}">{{ 'Galerie photos' | trans }}</a> {% trans %}pour composer votre panier.{% endtrans %}
        </p>
    {% endif %}
{% endblock %}
