{% extends "UserBundle::layout.html.twig" %}

{% block title %}
    {{ 'Ma commande' | trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h4 class="page-header">{{ 'Ma commande' | trans }}</h4>
    <p>
        {% if order.canceled %}
            <span class="order-canceled-intro">{% trans %}Cette commande a été annulée, et ne sera donc pas imprimée. Si vous désirez la réactiver, merci de contacter le photographe.{% endtrans %}</span>
        {% elseif order.printed or order.payed %}
            {{ 'Statut de votre commande :' | trans }}<br/>
            {% if order.printed %}
                -> {{ 'Votre commande est en cours d\'impression ou est déjà imprimée.' | trans }}<br/>
            {% endif %}
            {% if order.payed %}
                -> {{ 'Votre commande est payée.' | trans }}<br/>
            {% endif %}
        {% else %}
            {{ 'Statut de votre commande :' | trans }}<br/>
            -> {{ 'Votre commande est en attente, patience.' | trans }}<br/>
        {% endif %}
    </p>
    <h4 class="page-header">{{ 'Detail des impressions' | trans }}</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'Image' | trans }}</th>
                <th class="table-detail">{{ 'Quantité' | trans }}</th>
                <th class="table-detail">{{ 'Format' | trans }}</th>
                {% if order.payed and not order.canceled and app_config.getConfig.applicationSellFiles %}
                    <th class="table-detail">{{ 'Action' | trans }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for detail in order.details %}
                {% for quantity in detail.quantities %}
                    <tr>
                        <td>
                            <img class="img-responsive img-thumbnail cart-img" src="{{ vich_uploader_asset(detail.photo, 'imageFile') | imagine_filter('gallery_thumb') }}"/>
                        </td>
                        <td class="table-detail">{{ quantity.quantity }}</td>
                        <td class="table-detail">{{ quantity.format.size }}</td>
                        {% if order.payed and not order.canceled and app_config.getConfig.applicationSellFiles %}
                            <td class="table-detail">
                                <a href="{{ path("order_download_detail", { "id": detail.id }) }}">
                                    <button type="button" class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top" title="{{ 'Télécharger le fichier original' | trans }}"><i class="glyphicon glyphicon-download-alt"></i></button>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
        <tfoot>
            {% if order.discountValue > 0 %}
                <tr class="info">
                    <td colspan="1">{{ 'Total' | trans }}</td>
                    <td class="table-detail">{{ order.quantity }}</td>
                    <td class="table-detail">{{ order.grossTotal | number_format(2, ",", " ")  }}€</td>
                </tr>
                <tr class="warning">
                    <td colspan="1">Remise (€)</td>
                    <td class="table-detail">{{ order.discountValue }}%</td>
                    <td class="table-detail">-{{ order.discountSaving | number_format(2, ",", " ") }}€</td>
                </tr>
            {% endif %}
            <tr class="success">
                <th colspan="{% if order.payed and not order.canceled and app_config.getConfig.applicationSellFiles %}3{% else %}2{% endif %}">Total</th>
                <th class="table-detail">{{ order.total | number_format(2, ",", " ") }}€</th>
            </tr>
        </tfoot>
    </table>
    {% if not order.canceled %}
        <hr>
        <div class="row bottom-block">
            <div class="col-lg-12">
                <p>
                    <a href="{{ path("order_cancel", {'id': order.id} ) }}"><button type="button" class="btn btn-danger bottom-button"{% if order.printed == true %} disabled="disabled"{% endif %}><i class="glyphicon glyphicon-trash"></i> {{ 'Annuler mes impressions' | trans }}</button></a>
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}
