{% extends "GalleryBundle::layout.html.twig" %}

{% block title %}
    Supprimer photos - {{ parent() }}
{% endblock %}

{% block body %}
    <h4 class="page-header">Supprimer la galerie</h4>

    <p>
        Voulez-vous vraiment vider la galerie {{ gallery.title }} de ses photos ?
    </p>

    {{ form_start(form) }}
    <a href="{{ path('gallery_index') }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retourner à la liste de galerie
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
