{{ form_start(form) }}

<div class="row">
    <div class="col-lg-12">
        {{ form_errors(form) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            {{ form_label(form.quantity, "Quantité") }}
            {{ form_errors(form.quantity) }}
            {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            {{ form_label(form.price, "Prix pour la quantité total") }}
            {{ form_errors(form.price) }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            {{ form_label(form.discount, "Discount") }}
            {{ form_errors(form.discount) }}
            {{ form_widget(form.discount, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>

{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-sm bottom-button'}, 'label': 'Sauvegarder'}) }}
{{ form_rest(form) }}
{{ form_end(form) }}
